<!-- footer -->
<footer class="py-4 bg-light border-top">
  <div class="container">
    <!-- Rimuovi questo div -->
  </div>
</footer>
<!-- /footer -->

<!-- search index -->
<!-- Rimuovi questo script -->
{{ if .Site.Params.search.enable }}
<script>
  var indexURL = {{ "index.json" | absURL }}
</script>
{{ end }}

<!-- Rimuovi questi commenti e script -->
<!-- JS Plugins -->
<!-- Main Script -->
<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
  Questo sito utilizza i cookie per migliorare l'esperienza dell'utente. <span id="js-cookie-accept" class="btn btn-sm btn-primary ml-2">Accetta tutti i cookie</span> <span id="js-cookie-reject" class="btn btn-sm btn-outline-secondary ml-2">Accetta solo i cookie necessari</span>
</div>
<script>
  (function ($) {
    const cookieBox = document.getElementById('js-cookie-box');
    const cookieAccept = document.getElementById('js-cookie-accept');
    const cookieReject = document.getElementById('js-cookie-reject');
    
    // Funzione per impostare i cookie facoltativi
    function setOptionalCookies() {
      Cookies.set('optional-cookies', true, {
        expires: {{ site.Params.cookies.expire_days }}
      });
      // Inizializza Google Analytics
      gtag('config', 'G-RGEETKC7E0', { client_storage: 'none', 'anonymize_ip': true });
    }
    
    // Funzione per rimuovere i cookie facoltativi
    function removeOptionalCookies() {
      Cookies.remove('optional-cookies');
      // Rimuovi Google Analytics
      // Non è necessario rimuovere Google Analytics esplicitamente
    }
    
    // Verifica se l'utente ha già accettato i cookie facoltativi
    if (!Cookies.get('optional-cookies')) {
      cookieBox.classList.remove('cookie-box-hide');
    }
    
    cookieAccept.onclick = function () {
      setOptionalCookies();
      cookieBox.classList.add('cookie-box-hide');
    };
    
    cookieReject.onclick = function () {
      removeOptionalCookies();
      cookieBox.classList.add('cookie-box-hide');
    };
  })(jQuery);
</script>

<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
