<!-- footer -->
<footer class="py-4 bg-light border-top">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <a href="{{ .Site.BaseURL }}" class="d-block pb-3"><img src="{{ .Site.Params.logo | relURL }}" class="img-fluid" alt="{{ .Site.Title }}"></a>
      </div>
      <div class="col-lg-4 text-center mb-4 mb-lg-0">
        <ul class="list-inline mb-0">
          {{ range .Site.Menus.footer }}
          <li class="list-inline-item"><a class="text-dark d-block p-2" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-4 text-lg-right text-center mb-4 mb-lg-0">
        <ul class="list-inline social-icon mb-0">
          {{ range .Site.Params.social }}
          <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <span>{{ .Site.Params.copyright | markdownify }}</span>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- search index -->
{{ if .Site.Params.search.enable }}
<script>
  var indexURL = {{ "index.json" | absURL }}
</script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>


<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
    Questo sito utilizza i cookie per migliorare l'esperienza di navigazione. Puoi scegliere se accettare solo i cookie tecnici o anche quelli facoltativi.
    <button id="js-cookie-accept" class="btn btn-sm btn-primary ml-2">Accetta tutti i cookie</button>
    <button id="js-cookie-reject" class="btn btn-sm btn-outline-primary ml-2">Accetta solo i necessari</button>
</div>
<script>
    (function () {
        const cookieBox = document.getElementById('js-cookie-box');
        const acceptButton = document.getElementById('js-cookie-accept');
        const rejectButton = document.getElementById('js-cookie-reject');

        function acceptCookies() {
            Cookies.set('cookie-consent', 'accepted', {
                expires: {{ site.Params.cookies.expire_days }}
            });
            cookieBox.classList.add('cookie-box-hide');
        }

        function rejectCookies() {
            Cookies.set('cookie-consent', 'rejected', {
                expires: {{ site.Params.cookies.expire_days }}
            });
            cookieBox.classList.add('cookie-box-hide');
        }

        acceptButton.addEventListener('click', acceptCookies);
        rejectButton.addEventListener('click', rejectCookies);

        if (!Cookies.get('cookie-consent')) {
            cookieBox.classList.remove('cookie-box-hide');
        }
    })();
</script>

<!-- cookie style -->
<style>
    .cookie-box {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        z-index: 9999;
        padding: 1rem 2rem;
        background: rgb(71, 71, 71);
        transition: all .75s cubic-bezier(.19, 1, .22, 1);
        color: #fdfdfd;
    }


.cookie-box-hide {
  display: none;
}
</style>
{{ end }}
